<%- include ('../layouts/adminheader') %>

<script>
    $(document).ready(function () {
    FilterTable("#search","#content tr")    
    });
</script>


<h2 class ="page-title"> Products</h2>
<a href="/admin/products/add-product" class="btn btn-primary">Add a New Product</a>
<br><br>



<% if(products) { %>
<label for=""> Search </label>
<input id="search" type="text" name="search">

<table class="table table-striped alignmiddle">

    <thead>
        <tr class="home">
            <th>Product</th>
            <th>Category</th>
            <th>Price</th>
            <th>Product Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody id="content">
        <% products.forEach(function(product) {%>
            <tr>
                <td><%= product.title %></td>
                <td><%= product.category %></td>
                <td>$<%= parseFloat(product.price).toFixed(2) %></td>
                <td> <% if (product.image =="" && product.imgurURL =="") { %>
                    <img id="noImg" src="/images/noimage.jpg">
                    <% } else if (product.imgurURL && product.imgurURL !=="") { %>
                     <img id="noImg"src="<%= product.imgurURL%>">   
                     <%} else { %>
                     <img id="noImg"src="/product_images/<%= product._id%>/<%= product.image%>">
                  <% } %>
                
                    </td>   
                <td>
                    <a href ="/admin/products/edit-product/<%= product._id%>">Edit</a> 
                </td>
                <td><a class="confirmDeletion" href ="/admin/products/delete-product/<%= product._id %>">Delete</a> </td>
               
            </tr>          
        <% }); %>
    </tbody>

</table>

<%} else { console.log(products)%>
<h3 class="text-center"> There are no products. </h3>
<%} %>



<%- include('../layouts/adminfooter') %>